/**
    Theme
**/
/******* Fonts *******/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/******* Colors *******/
.header-logo {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-logo .logo-big {
  height: 32px;
}

#geolocation {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  color: #353535;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}
#geolocation p {
  font-weight: 500;
}

/**** Desktop Version ****/
@media (width >= 1440px) {
  .header-logo {
    height: 96px;
  }
}
footer {
  color: white;
  background-color: #353535;
  padding: 22px 25px;
}
footer .logo-small {
  height: 22px;
  filter: invert(100%);
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
footer .footer-links li:not(.footer-link-highlight) a {
  font-weight: 100;
}
footer .footer-links .footer-link-highlight i {
  padding-right: 12px;
}

/**** Desktop Version ****/
@media (width >= 1440px) {
  footer,
  footer .footer-links {
    display: flex;
    align-items: flex-end;
  }
  footer {
    height: 114px;
    flex-direction: row-reverse;
    padding-right: 68px;
    padding-bottom: 30px;
  }
  footer .footer-links {
    flex-direction: row;
    margin: 0;
    margin-right: 100px;
  }
  footer .footer-links .footer-link-highlight i {
    padding-right: 4px;
  }
  footer .footer-links .footer-link-highlight:nth-child(2) {
    margin-right: 42px;
  }
}
#section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding: 39px 0 57px 0;
}
#section-hero h1,
#section-hero p {
  text-align: center;
}
#section-hero p {
  font-size: 18px;
  color: #353535;
  margin: 8px 0 28px 0;
}

/**** Desktop Version ****/
@media (width >= 1440px) {
  #section-hero {
    padding: 30px 0;
  }
  #section-hero p {
    margin: 30px 0;
  }
}
#section-app-instruction {
  padding: 48px 20px;
  padding-bottom: 68px;
}
#section-app-instruction #section-app-instruction-steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 26px;
  margin-left: 18px;
}
#section-app-instruction #section-app-instruction-steps .app-instruction-step {
  position: relative;
  width: 85dvw;
  display: flex;
  align-items: center;
  gap: 27px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 28px 38px;
}
#section-app-instruction
  #section-app-instruction-steps
  .app-instruction-step
  .app-instruction-step-number {
  position: absolute;
  left: -14px;
  height: 24px;
  width: 24px;
  background-color: #9356dc;
  border-radius: 50%;
}
#section-app-instruction
  #section-app-instruction-steps
  .app-instruction-step
  .app-instruction-step-number
  p {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
}
#section-app-instruction
  #section-app-instruction-steps
  .app-instruction-step
  i {
  font-size: 120%;
  color: #7e7e7e;
}
#section-app-instruction
  #section-app-instruction-steps
  .app-instruction-step
  i:hover {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#section-app-instruction
  #section-app-instruction-steps
  .app-instruction-step
  p {
  font-weight: 500;
}

/**** Desktop Version ****/
@media (width >= 1440px) {
  #section-app-instruction {
    padding: 50px 180px;
  }
  #section-app-instruction #section-app-instruction-steps {
    flex-direction: row;
    justify-content: flex-start;
    gap: 42px;
  }
  #section-app-instruction
    #section-app-instruction-steps
    .app-instruction-step {
    width: -moz-max-content;
    width: max-content;
    padding-right: 52px;
  }
}
#section-restaurants {
  background-color: #f6f6f6;
  padding: 54px 18px;
  padding-bottom: 66px;
}

#restaurant-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 18px;
}
#restaurant-cards .restaurant-card {
  position: relative;
  height: 250px;
  color: black;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
#restaurant-cards .restaurant-card .restaurant-card-label {
  position: absolute;
  top: 12px;
  right: 14px;
  width: 80px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  color: #008766;
  background-color: #99e2d0;
  border-radius: 4px;
  padding: 7px 9px;
}
#restaurant-cards .restaurant-card .restaurant-card-image {
  height: 70%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
#restaurant-cards .restaurant-card .restaurant-card-info-container {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  padding: 14px 25px;
  padding-left: 13px;
}
#restaurant-cards
  .restaurant-card
  .restaurant-card-info-container
  .button-like {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
#restaurant-cards
  .restaurant-card
  .restaurant-card-info-container
  .button-like
  i {
  font-size: 20px;
}
#restaurant-cards
  .restaurant-card
  .restaurant-card-info-container
  .button-like:hover
  i {
  opacity: 0.4;
  background-image: linear-gradient(
    193.33deg,
    #9356dc -11.44%,
    #ff79da 123.93%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0;
  animation: slowFillup 1s forwards;
}
@keyframes slowFillup {
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

/**** Desktop Version ****/
@media (width >= 1440px) {
  #section-restaurants {
    padding: 50px 180px;
  }
  #restaurant-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 50px;
  }
}
/**

  Global Styles

**/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

p {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

ul li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

a,
button {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  color: white;
}

button {
  position: relative;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 25px;
  padding: 13px 18.75px;
}
button:active {
  opacity: 0.8;
  top: 2px;
  left: 1px;
  box-shadow: none;
}

/**** Desktop Version ****/
@media (width >= 1440px) {
  h1 {
    font-size: 40px;
  }
  button {
    padding: 16px 21px;
  }
} /*# sourceMappingURL=global.css.map */
