.menu-cover {
  position: relative;

  height: 370px;
  width: 100%;

  object-fit: cover;
}

.menu {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $color-grey;
  border-radius: 50px 50px 0 0;

  padding: 32px 17px;
  margin-top: -50px;

  .menu-title {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: center;

    h1 {
      font-family: $font-titles;
      font-size: 28px;
    }
  }

  section {
    margin-top: 40px;

    hr {
      height: 3px;
      width: 40px;

      background-color: $color-tertiary;
      border: none;

      margin: 10px 0;
    }

    .menu-items {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .menu-item {
        display: flex;
        justify-content: space-between;

        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);

        .menu-item-dish {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          margin: 13.5px 15px;

          p {
            font-weight: $font-roboto-light;
            font-size: 15px;
          }

          .menu-item-line {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;

            .menu-item-price {
              display: flex;
              align-items: flex-end;

              font-weight: $font-roboto-bold;
              font-size: 15px;
            }
          }
        }

        .menu-item-added {
          display: none;
          width: 0;
        }

        &:active .menu-item-added {
          width: 59px;

          display: flex;
          justify-content: center;
          align-items: center;

          background-color: $color-tertiary;
          border-radius: 0 15px 15px 0;

          i {
            font-size: 120%;
            color: white;
          }
        }
      }
    }
  }

  .menu-button {
    align-self: center;

    margin-top: 40px;
  }
}

/**** Desktop Version ****/
@media (width >= 1440px) {
  .restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .menu {
      width: 1055px;

      align-items: center;

      margin-top: -40px;

      .menu-title {
        justify-content: center;
        gap: 24px;
      }

      section .menu-items {
        width: 636px;

        .menu-item:hover .menu-item-added {
          width: 59px;

          display: flex;
          justify-content: center;
          align-items: center;

          background-color: $color-tertiary;
          border-radius: 0 15px 15px 0;

          i {
            font-size: 120%;
            color: white;
          }
        }
      }
    }
  }
}
