/**
    Theme
**/

/******* Fonts *******/
// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

$font-titles: "Shrikhand", cursive, sans-serif;
$font-roboto: Roboto, sans-serif;
$font-roboto-bold: 700;
$font-roboto-medium: 500;
$font-roboto-light: 300;

/******* Colors *******/
$color-black: #353535;
$color-grey: #f6f6f6;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$gradient: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
