// Imports
@import "theme";

@import "./common/header";
@import "./common/footer";

@import "./home/hero-section";
@import "./home/app-instructions";
@import "./home/restaurants";

/**

  Global Styles

**/

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: $font-roboto;
  font-weight: $font-roboto-bold;
  font-size: 24px;
}

p {
  font-family: $font-roboto;
  font-weight: $font-roboto-light;
}

a {
  display: block;

  padding: 0;
  margin: 0;
}

a,
button {
  font-family: $font-roboto;
  font-weight: $font-roboto-medium;
  color: white;
}

button {
  position: relative;
  background: $gradient;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 25px;

  padding: 13px 18.75px;

  &:active {
    opacity: 0.8;

    top: 2px;
    left: 1px;
    box-shadow: none;
  }
}
