#section-restaurants {
  background-color: $color-grey;

  padding: 54px 18px;
  padding-bottom: 66px;
}

#restaurant-cards {
  display: flex;
  flex-direction: column;
  gap: 18px;

  margin-top: 18px;

  .restaurant-card {
    position: relative;

    height: 250px;

    color: black;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

    .restaurant-card-label {
      position: absolute;
      top: 12px;
      right: 14px;

      width: 80px;

      display: flex;
      justify-content: center;

      font-weight: $font-roboto-medium;
      font-size: 14px;
      color: #008766;

      background-color: $color-tertiary;
      border-radius: 4px;

      padding: 7px 9px;
    }

    .restaurant-card-image {
      height: 70%;
      width: 100%;

      object-fit: cover;

      border-radius: 15px 15px 0 0;
    }

    .restaurant-card-info-container {
      height: 30%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      padding: 14px 25px;
      padding-left: 13px;

      .button-like {
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;

        i {
          font-size: 20px;
        }

        &:hover {
          i {
            opacity: 0.4;

            background-image: $gradient;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 0;

            animation: slowFillup 1s forwards;

            @keyframes slowFillup {
              50% {
                opacity: 0.8;
              }
              100% {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
